<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIT OR Fight</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css"
        integrity="sha512-72McA95q/YhjwmWFMGe8RI3aZIMCTJWPBbV8iQY3jy1z9+bi6+jHnERuNrDPo/WGYEzzNs4WdHNyyEr/yXJ9pA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/member-style.css">

    {{style}}

    <style>
        body {
            /* background-image: url("/static/images/bg.jpg"); */
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

</head>

<body>
    <header>
        <!-- <div class="top-bar">
            <nav>
                <ul>
                    <img src="/static/images/logo.jpg" alt="" height="50px" width="70px"> 

                     <li><a href="/">HOME</a></li> 
                     <li><a href="/training">PROGRAMS</a></li> 
                    <li><a href="/about">ABOUTUS</a></li> 
                    <li><a href="/calculate">CALCULATE BMI</a></li>
                    <li id="dashboard_li"><a href="/profile">DASHBOARD</a></li>
                    <div class="header-buttons">
                        <a href="/login" class="login-btn" id="login_btn">LOGIN</a>
                        <button class="login-btn" id="logout_btn" onclick="logout()">LOGOUT</button>
                    </div>
                </ul>
            </nav>
        </div> -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="/"><img src="/static/images/logo.jpg" alt="" height="50px" width="70px"></a> -->
                <a class="navbar-brand" href="/">FIT OR FIGHT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/training">Programs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/calculate">BMI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/about">About Us</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <a href="/login" class=" nav-link login-btn me-3 text-dark" id="login_btn">LOGIN</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>



    {{content}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>




        const members_url = "http://localhost:7000/Members";
        const usersUrl = "http://localhost:7000/Users";

        async function post_api(url, arr) {
            await fetch(url, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(arr)
            });
        }
        async function delete_api(url, id) {
            await fetch(`${url}/${id}`, {
                method: "DELETE"
            });
        }

        let loggedinuser = null;


        //when user login
        function load_loggedinuser() {
            loggedinuser = JSON.parse(localStorage.getItem("loggedinuser"));
            console.log(loggedinuser);
            //let dashboard = document.getElementById("dashboard_li");
            let log_in = document.getElementById("login_btn");
            let log_out = document.getElementById("logout_btn");



            // if (loggedinuser) {
            //     //dashboard.style.display = "block";
            //     log_in.style.display = "none";
            //     log_out.style.display = "block";
            //     if (loggedinuser.userrole == 'member') {
            //        // dashboard.innerHTML = `<a href="/profile">DASHBOARD</a>`
            //     }
            //     else {
            //        // dashboard.innerHTML = `<a href="/Create_User">DASHBOARD</a>`
            //     }
            // }
            // else {
            //     //dashboard.style.display = "none";
            //     log_in.style.display = "block";
            //     log_out.style.display = "none";
            // }
        }

       // load_loggedinuser();

        async function logout() {
            console.log(loggedinuser.memberId);
            try {
                delete_api(loggedinusers_url, loggedinuser.id);
                localStorage.removeItem("loggedinuser");
                // alert("Logged out successfully!");
            }
            catch (error) {
                console.error('Error logging out:', error);
            }
            load_loggedinuser();
        }

    </script>

    {{script}}

</body>

</html>