backend/node_modules
frontend/node_modules
/node_modules
Backend_2/.vs/banking/FileContentIndex/cdfb9ab9-e684-40c1-9007-a76f0df7ab71.vsidx
Backend_2/.vs/banking/FileContentIndex/63dbc5d3-d415-4664-a43d-9e0eacfea4c1.vsidx
Backend_2/.vs/banking/FileContentIndex/6d6adc01-b914-4cda-bd8c-95bc8482ccf8.vsidx
Backend_2/.vs/banking/FileContentIndex/6d6adc01-b914-4cda-bd8c-95bc8482ccf8.vsidx
Backend_2/.vs/banking/FileContentIndex/d823d153-5a40-4794-abb2-d60d29490aac.vsidx
Backend_2/.vs/banking/FileContentIndex/6d6adc01-b914-4cda-bd8c-95bc8482ccf8.vsidx
Backend_2/.vs/banking/FileContentIndex/664a34c6-bfc6-4010-bf3c-978d25fa67d6.vsidx
