<style>
    .about-content {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px;
    }

    p {
        color: black;
        font-size: 25px;
        font-weight: 600;
    }
    .about-image{
        border-radius: 10px;
    }
</style>


<section>
    <h1 style="color: white;">About-Us</h1>

    <div class="Container">
        <div class="about">
            <div class="about-image">
                <img src="/static/images/about.jpg" alt="Our Gym Picture Is Here ">
            </div>
            <div class="about-content">
                <h2 class="heading">This is Our Journey...</h2>
                <p>Power World Gyms pioneered the Sri Lankan gym industry in 1994 and has remained
                    the largest chain of fitness centres since its inception, earning an undisputed reputation among
                    fitness enthusiasts. We also pride ourselves in being able to train both the novice and the elite
                    athlete while specializing in providing healthcare services that are both prophylactic and
                    therapeutic to all our members.</p>
            </div>
        </div>
    </div>
</section>