<style>
    .banner {
       
        display: block;
       
    }

    .banner-content {
        margin: 2rem;
        margin-top: 4rem;
    }

    .services {
        background-color: rgb(41, 40, 37);
        display: block;
    }

    .service-section {
        display: flex;
        justify-content: center;
    }

    .banner p {
        font-size: x-large;
        color: white;
    }
    .banner h3{
        color: bisque;
        font-size: xx-large;
        margin: 10px;
    }
    
</style>

<section class="banner">
    <div class="banner-content">
        <h2>BUILD YOUR BODY</h2>
        <h3>Transform your life</h3>
        <p>
            At Power World Gym, we believe that fitness is a lifestyle. Our passion for fitness and commitment to our
            members sets us apart from other gyms. Our trainers are certified experts in their field and they will work
            with you to create a personalised fitness plan based on your goals. Whether you're a beginner or a pro, we
            have the tools and knowledge to help you succeed.</p>
    </div>
</section>



<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <h2>ADVANCE FITNESS GYM</h2>
        </div>
        <div class="social-icons">
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
        <div class="footer-text">
            <p>&copy; 2024 Advance Fitness Gym. All Rights Reserved.</p>
        </div>
    </div>
</footer>

<script>



</script>